* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #fff;
  }
  img{
    height: 50px;
    width: 50px;
  }
  
  header {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 74px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .banner h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
  }
  
  main {
    padding: 40px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 0px;
  }
  
  label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  