* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

h1, h2, h3, h4 {
  font-weight: normal;  
}

nav a:hover {
  text-decoration: underline;
}

.header {
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 74px;
}

.header h1 {
  font-size: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
}

.logo img {
  height: 50px;
}

.footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.footer p {
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-md-4 img {
  width: 100%;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.882);
  z-index: 999;
  display: none;
}

.lightbox-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.lightbox-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.lightbox-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: calc(100% - 20px);
  z-index: 1001;
}

.lightbox-nav button {
  background: none;
  border: blanchedalmond;
  color: white;
  font-size: 50px;
  cursor: pointer;
  outline: none;
}

.lightbox-prev {
  margin-right: auto;
}

.lightbox-next {
  margin-left: auto;
}

img:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
}

.close-button:before,
.close-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
}

.close-button:before {
  transform: translateY(-50%) rotate(45deg);
}

.close-button:after {
  transform: translateY(-50%) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .col-md-4 {
    flex-basis: 100%;
    .lightbox-image {
      max-width: 90%;
      max-height: 90%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (min-width: 992px) {
  .col-md-4 {
    flex-basis: calc(33.33% - 20px);
  }
}


